{% extends 'main.html' %}
{% block content %}
<style>
  li.message.message--unread > a span {
  color: var(--color-white);
}

</style>


  <main class="inbox my-xl">
    <div class="content-box" style="background-color: #27172e69;">
      <h3 class="inbox__title" style="color: var(--color-light)">New Messages(<span style="color: #67968bbd;">{{unread}}</span>)</h3>
      <ul class="messages" style="background-color: black;">
        {% for mes in messagesRequest %}
        {% if mes.is_read == False%}
        <li class="message message--unread">
        {% else %}
        <li class="message">
        {% endif %}
          <a href="{% url 'selected-message' mes.id %}?next=/inbox/">
            {% if mes.sender %}
            <span class="message__author">{{mes.sender}}</span>
            {% else %}
            <span class="message__author">Deleted user</span>
            {% endif %}
            <span class="message__subject">{{mes.subject}}</span>
            <span class="message__date">{{mes.created}}</span>
          </a>
        </li>
        {% endfor %}

      </ul>
    </div>
  </main>
{% endblock %}