{% extends 'main.html' %}
{% block content %}
<style>
  table {
    /* width: 300px; */
    border-collapse: collapse;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #333;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .eye-icon, .file-icon {
    font-size: 18px;
    margin-right: 5px;
  }
</style>
<body>
  <!-- Main Section -->
  <main class="singleProject my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <h3 class="singleProject__subtitle">Tags for this mod</h3>
          <div class="singleProject__toolStack">
            {% for tag in mod.tags.all %}
            <span class="tag tag--pill tag--sub tag--lg">
              <small><a href="/mods/?search_query={{tag}}">{{tag}}</a></small>
            </span>
            {% endfor %}
          </div>
          <a class="singleProject__liveLink" href="{% url 'gallery' mod.id %}?next={{request.path}}" target="_blank"><i class="im im-external-link"></i>Mod gallery
          </a>
          {% if mod.modfile %}
          <a class="singleProject__liveLink" href="{% url 'downloadmod' pk=mod.id %}"><i class="im im-external-link"></i>Download
          </a>
          {% endif %}
        </div>
        <div class="column column--2of3">
          <img class="singleProject__preview" src="{{ mod.getImage }}" alt="portfolio thumbnail" />
          <!-- <a href="{% url 'current-profile' mod.owner.id %}" class="singleProject__developer"> Uploaded by {{ mod.owner }} 
            </a> -->
          <br>
          <table style="color: var(--color-light-gray);">
            <tr>
              <td >Uploaded by</td>
              <td style="padding: 5px;">Mod author</td>
              <td >Total views</td>
              <td style="padding: 5px;">File size</td>
              <td style="padding: 5px;">Date uploaded</td>
              <td style="padding: 5px;">Version</td>
              <td  >Last updated</td>
            </tr>
            <tr>
              <td><a href="{% url 'current-profile' mod.owner.id %}"> {{ mod.owner }} </a></td>
              <td>{{ mod.owner }}</td>
              <td><i class="fa-solid fa-eye"></i> {{mod.view_count}} </td>
              <td><p >{{size}}</i></p></td>
              <td >{{mod.created}} </td>
              <td >{{mod.version}} </td>
              <td>{{mod.updated}} </td>
            </tr>
          </table>
          <h2 class="singleProject__title">{{mod.title}}</h2>
          {% if mod.description %}
            <p>{{mod.short_intro}}</p>
            <br>
            <h3 class="singleProject__subtitle">About the Mod</h3>
            <div class="singleProject__info">
              {{mod.description| safe}}
            </div>
          {% endif %}
          <div class="comments">
            <h3 class="singleProject__subtitle">Feedback</h3>
            <h5 class="project--rating">
              {{mod.vote_ration}}% Postitive Feedback ({{mod.vote_total}} Vote{{mod.vote_total|pluralize:"s"}})
            </h5>
            {% if request.user.profile.id in mod.getVoters%}
              <p>U have already submited review for this project</p>
            {% elif request.user.profile == mod.owner %}
              <p>U  can't review u'r own work </p>
            {% elif request.user.is_authenticated %}

            <form class="form" action="{% url 'modpage' mod.id %}" method="POST">
              {% csrf_token %}
              {% for field in form %}
              <!-- Textarea -->
              <div class="form__field">
                <label for="formInput#textarea">{{field.label}}</label>
                {{field}}
              </div>
              {% endfor %}
              <input class="btn btn--sub btn--lg" type="submit" value="Comments" />
              
            </form>
            {% else %}
              <a href="{% url 'login-user' %}?next={{request.path}}">Login to leave a review</a>
            {% endif %}
            <div class="commentList">
              {% for review in mod.review_set.all %}
              {% if review.body %}
              <div class="comment">
                <a href="{% url 'current-profile' review.owner.id %}">
                  <img class="avatar avatar--md"
                    src="{{review.owner.profile_image.url }}" alt="user" />
                </a>
                <div class="comment__details">
                  <a href="{% url 'current-profile' review.owner.id %}" class="comment__author">{{review.owner.name}}</a>
                  <p class="comment__info">{{review.body|linebreaksbr}}</p>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
</body>
{% endblock %}