{% extends 'main.html' %}
{% block content %}
    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper" style="background-color: black;">
                <a class="backButton" style=" background: var(--color-sub-light);color: white;" href="{{request.GET.next}}"><</i></a>
                <br>

                <form class="form" method="POST" >
                    {% csrf_token %}
                    {% if page == 'delacc' %}
                        <p style="color: var(--color-white);">{{obj|title}} are you sure you want to delete u'r account?</p>
                    {% elif page == 'unfriend' %}
                        <p style="color: var(--color-white);">{{request.user|title}} are you sure you want to unfriend {{obj|title}}?</p>
                    {% elif page == 'decline' %}
                        <p style="color: var(--color-white);"> {{request.user|title}} are you sure you want to decline friend request from {{obj|title}}?</p>
                    {% elif page == 'cancel' %}
                        <p style="color: var(--color-white);"> {{request.user|title}} are you sure you want to  cancel friend request to {{obj|title}}?</p>
                    {% else %}
                        <p style="color: var(--color-white);">Are your sure you want to delete this "{{obj}}"?</p>
                    {% endif %}
                    <a class="btn btn--sub btn--lg  my-md" href="{{request.GET.next}}"> Go Back</a>
                    {% if page == 'decline'%}
                        <input class="btn btn--sub btn--lg  my-md" type="submit" value="Decline" />
                    {% elif page == 'unfriend' %}
                        <input class="btn btn--sub btn--lg  my-md" type="submit" value="Unfriend" />
                    {% elif page == 'cancel'%}
                        <input class="btn btn--sub btn--lg  my-md" type="submit" value="Cancel" />
                    {% else %}
                        <input class="btn btn--sub btn--lg  my-md" type="submit" value="Delete" />
                    {%endif%}
                </form>
            </div>
        </div>
    </main>
{% endblock %}