{% extends 'main.html' %}
{% block content %}
<style>
    input[type='text'],
input[type='email'],
input[type='password']
{
  min-width: 24rem;
  width: 100%;
  padding: 1.2rem 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-light);
  transition: all 0.3s ease-in-out;
  background-color: var(--color-bg);
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='text']:active,
input[type='email']:active,
input[type='password']:active
{
  outline: none;
  border: 2px solid var(--color-main);
}
body{
    background-image: url(/static/images/patt.jpg);
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
}

</style>
<main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper" style="background-color: #00000096; border: 1.5px solid #dbc089ad;">
                
                <h1 style="color: #dbc089ad;">Password reset complete</h1>
                <p>Your password has been set. You may go ahead and log in now.</p>
                <br>
                <a href="{% url 'login-user' %}" style="color: #dbc089ad;">Log in</a>
            </div>
        </div>
</main>

{% endblock %}