{% extends 'main.html' %}

{% block content %}
<head>
    <script src="https://kit.fontawesome.com/95f8f67f8f.js" crossorigin="anonymous"></script>
</head>
<main class="profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <img class="avatar avatar--xl" src="{{ moder.get_profile_img }}" />
              <h2 class="dev__name">{{moder.name }}</h2>
              <p class="dev__title">{{moder.short_intro}}</p>
              <p class="dev__location">Region {{moder.region}}</p>
              
              {% if is_friend %}
                <a href="" class="btn btn--sub  btn--lg">Send Message </a>
              {% elif is_friend == False and is_self %}
                <a href="{% url 'friends:show_requests' %}" class="btn btn--main  btn--sub">Friend requests {{friend_requests | length}} </a>
              {%endif%}

              {% if request_sent == 0 %}
              <ul class="dev__social" style="background-color: white; border-radius: 10px; border-color: var(--color-main);">
                <li >
                    <a>
                        <a style="color: var(--color-text);" class="">
                            Accept Friend Request
                        </a>
                        <a style="margin-left: 10px;" href="{% url 'friends:accept-friend' pk=request_id %}"><i class='fas fa-user-check'></i></a>
                        <a style="margin-left: 10px;" href="{% url 'friends:decline-friend' pk=request_id %}"><i class='fas fa-user-minus'></i></a>
                    </a>
                </li>

              </ul>
              {% elif is_friend == False and is_self == False %}
                {% if request_sent == 1 %}
                  <a href="{% url 'friends:cancel_friend' pk=moder.id %}" class="btn btn--main btn" style="margin-top: 10px; color: black;">Cancel friend request</a>
                {% endif %}
                {% if request_sent == -1 %}
                  <a href="{% url 'friends:send_request' pk=moder.id %}" class="btn btn--main btn" style="margin-top: 10px;">Send friend request</a>
                {% endif %}
              {% endif %}

              <ul class="dev__social">
                {% if acc_friends == 1%}
                <li>
                    <a href="{% url 'friends:list_of_friends' user_id=moder_id %}"><i class='fas fa-user-friends'></i> {{ acc_friends }} friend </a></i>
                </li>
                {% elif acc_friends > 1 %}
                <li>
                    <a href="{% url 'friends:list_of_friends' user_id=moder_id %}"><i class='fas fa-user-friends'></i> {{ acc_friends }} friends </a></i>
                </li>
                {% else %}
                <li>
                    <a><i class='fas fa-user-friends'></i> {{ acc_friends }} friends </a></i>
                </li>
                {% endif %}
                {% if is_friend %}
                  <a href="{% url 'friends:unfriend' pk=moder.id %}">Remove <i class="fa-solid fa-user-minus"></i></a>
                {% endif %}
                
              </ul>
             
            </div>
          </div>
        </div>
        <div class="column column--2of3">
          <div class="devInfo">
            <h3 class="devInfo__title">About Me</h3>
            <p class="devInfo__about">{{moder.bio| safe}}</p>
          </div>
          <div class="devInfo">
            <h3 class="devInfo__title">Skills</h3>
            <div class="devInfo__skills">
              {% for skill in specSkill %}
              <div class="devSkill">
                <h4 class="devSkill__title">{{skill.name}}</h4>
                <p class="devSkill__info">{{skill.description}}</p>
              </div>
              {% endfor %}

              <h3 class="devInfo__subtitle">Other Skills</h3>
              <div class="devInfo__otherSkills">
                {% for extra in addskills %}
                <span class="tag tag--pill tag--sub tag--lg">
                  <small><a href="{% url 'show-users' %}?search_query={{extra}}">{{extra}}</a></small>
                </span>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="devInfo">
            <h3 class="devInfo__title">Projects</h3>
            <div class="grid grid--two">
              {% for mod in moder.mod_set.all %}
              <div class="column">
                <div class="card project">
                  <a href="{% url 'modpage' mod.id %}" class="project">
                    <img class="project__thumbnail" src="{{mod.getImage}}" alt="project thumbnail" />
                    <div class="card__body">
                      <h3 class="project__title">{{mod.title}}</h3>
                      <p><a class="project__author" href="{% url 'current-profile' moder.id %}">By {{mod.owner}}</a></p>
                      <p class="project--rating">
                        <span style="font-weight: bold;">{{mod.vote_ration}}%</span> Postitive
                        Feedback ({{mod.vote_total}} Vote{{mod.vote_total|pluralize:"s"}})
                      </p>
                      
                      <div class="project__tags">
                        {% for tag in mod.tags.all %}
                        <span class="tag tag--pill tag--main">
                          <small>{{tag}}</small>
                        </span>
                        {% endfor %}
                      </div>
                      
                    </div>
                  </a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock %}
